#bootstrap-overrides {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

#text {
  padding-bottom: 30px;
}