---
---

@import 'shared';

html, body {
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background: url('/img/header.jpg') center;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  overflow: hidden;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  font-size: 26px;
}

header p {
  margin-bottom: 30px;
}

.header-content {
  width: 100%;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 36px;
    padding-top: 0;
  }
  header hr {
    margin: 30px auto;
  }
  .header-content {
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-30%);
    padding: 0 50px;
    margin-top: 200px;
  }
  .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-content-inner p {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  header .header-content {
    margin-top: 80px;
  }
}

section#signup {
  padding-bottom: 10px;
  @media (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 40px;
  }
}

section#signup p {
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

section#video {
  padding-top: 25px;
  padding-bottom: 20px;
  @media (min-width: 992px) {
    .video-js {
      background-color: white;
      .vjs-control-bar {
        width: 50%;
        margin: auto;
      }
    }
  }
}

section#contact, section#pricing {
  .top-pad h2 {
    padding-top: 60px;
  }
  a:hover {
    text-decoration: none;
  }
  .price {
    padding: 0;
    margin: 0;
    display: inline-block;
    sup {
      font-size: 50%;
      top: -0.7em;
      margin-right: 5px;
    }
  }
}

section#team {
  >.carousel{
    @include background-cover;
    background: url('/img/team_back.jpg') center;
  }
  .carousel {
    margin-bottom: 20px;
  }
  h1 {
    color: white;
  }
  .carousel-caption {
    padding-bottom: 50px;
  }
  .carousel-caption p {
    font-size: 15px;
  }
  .carousel-inner {
    img {
      width: 120px;
      margin-left: auto;
      margin-right: auto;
    }
    .item {
      height: 290px;
    }
  }
  .carousel-caption {
    left: 15%;
    right: 15%;
  }
  @media (max-width: 768px) {
    .carousel-caption {
      right: 0;
      left: 0;
      h3 {
        font-size: 20px;
      }
    }
  }
  @media (max-width: 405px) {
    .carousel-caption {
      padding-bottom: 40px;
    }
  }
}

section#footer {
  position: relative;
}
