---
---

$main-colour: #016997;
$dark: #222;
$footer-height: 180px;

@import 'mixins';

html, body {
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.bg-primary {
  background-color: $main-colour;
  a {
    color: white !important;
  }
  a.btn-default {
    color: $main-colour !important;
  }
}

hr {
  border: 2px solid $main-colour;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

.top-margin-40 {
  margin-top: 40px;
}

.navbar-inverse {
  background-color: $main-colour;
  @include transition-all;
  border: 0 solid $main-colour;

  .nav > li > a, .nav > li > a:focus, .navbar-brand {
    color: white;
    &:hover {
      background-color: darken($main-colour, 5%);
    }
  }

  .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
    color: white;
    background-color: darken($main-colour, 10%);;
  }

  .navbar-right {
    margin-right: 5px;
  }

  &.affix-top {
    border-bottom: 1px solid lighten($main-colour, 10%);
    .nav > li > a {
      height: 60px;
      padding-top: 20px;
    }
    .navbar-brand {
      height: 60px;
      padding-top: 18px;
    }
    .navbar-toggle {
      margin-top: 13px;
    }
  }
  @media (max-width: 768px) {
    .navbar-collapse .nav > li > a {
      height: 34px;
      padding-top: 10px;
    }
  }
}

header {
  position: relative;
  width: 100%;
  @include background-cover;
  background: url('../img/header.jpg') center;
  text-align: center;
  color: white;
  padding-bottom: 10px;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    font-size: 26px;
  }
  p {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .header-content {
    width: 100%;
  }
  margin-top: 60px;
  @media (min-width: 768px) {
    min-height: 100%;
    h1 {
      font-size: 36px;
      padding-top: 0;
    }
    hr {
      margin: 30px auto;
    }
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.btn-primary {
  background-color: $main-colour;
}

.text-primary {
  color: $main-colour;
}

.btn-xl {
  border: none;
  border-radius: 300px;
  padding: 15px 30px;
  font-size: 120%;
}

section {
  min-height: 200px;
}

section#signup {
  padding-bottom: 10px;
  @media (min-width: 768px) {
    padding: 20px;
  }
}

section#video {
  padding-top: 25px;
  padding-bottom: 20px;
}

.container.main {
  margin-top: 60px;
  padding-bottom: 120px;
}

section#pricing {
  .panel {
    text-align: center;
  }

  .panel-default {
      color: #777;
  }

  .panel-primary {
    border-color: $main-colour;
    >.panel-heading {
      background-color: $main-colour;
      border-color: $main-colour;
    }
  }

  .list-group-item {
    height: 42px;
    font-size: 80%;
  }
}

section#team {
  @include background-cover;
  background: url('../img/team_back.jpg') center;
  h1 {
    color: white;
  }
  .carousel-inner {
    img {
      width: 120px;
      margin-left: auto;
      margin-right: auto;
    }
    .item {
      height: 275px;
    }
  }
  @media (max-width: 768px) {
    .carousel-caption {
      right: 0;
      left: 0;
      h3 {
        font-size: 20px;
      }
    }
  }
}

.map-overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:400px;
   top:400px;
   margin-top:-400px;
}

section#footer {
  position: absolute;
  bottom: 0;
  height: $footer-height;
  min-height: $footer-height;
  padding-top: 25px;
  width: 100%;
  .links {
    margin-top: 20px;
    a {
      display: inline-block;
      line-height: 40px;
      margin-right: 10px;
    }
  }
  @media (min-width: 768px) {
    $row-height: 80px;
    .copyright {
      img, span {
        height: $row-height;
      }
      span {
        line-height: $row-height;
      }
    }
    .links {
      margin-top: 0;
      a {
        line-height: $row-height;
        margin-right: 30px;
      }
    }
  }
}
