---
---

@import 'shared';

html, body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.bg-primary {
  background-color: $main-colour;
  a {
    color: white !important;
  }
  a.btn-default {
    color: $main-colour !important;
  }
}

h2 {
  margin-bottom: 25px;
}

hr {
  border: 2px solid $main-colour;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

.top-margin-40 {
  margin-top: 40px;
}

.navbar-inverse {
  background-color: $main-colour;
  @include transition-all;
  border: 0 solid $main-colour;

  .nav > li > a, .nav > li > a:focus, .navbar-brand {
    color: white;
    &:hover {
      background-color: darken($main-colour, 5%);
    }
    img {
      height: 35px;
      margin-top: -10px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
    color: white;
    background-color: darken($main-colour, 10%);;
  }

  .navbar-right {
    margin-right: 5px;
  }

  &.affix-top {
    border-bottom: 1px solid lighten($main-colour, 10%);
    .nav > li > a {
      height: 60px;
      padding-top: 20px;
    }
    .navbar-brand {
      height: 60px;
      padding-top: 18px;
      img {
        height: 46px;
        padding-right: 10px;
        padding-left: 0;
      }
    }
    .navbar-toggle {
      margin-top: 13px;
    }
  }
  @media (max-width: 768px) {
    .navbar-collapse .nav > li > a {
      height: 34px;
      padding-top: 10px;
    }
  }
}

.btn-primary {
  background-color: $main-colour;
}

.text-primary {
  color: $main-colour;
}

header aside {
  margin-bottom: 20px;
}

.btn-xl {
  border: none;
  border-radius: 300px;
  padding: 15px 30px;
  font-size: 120%;
}

section {
  min-height: 200px;
}

.container {
  &.main {
    margin-top: 60px;
    padding-bottom: 120px;
  }

  &.narrow {
    max-width: 730px;
    .img-holder {
      text-align: center;
      border: 1px solid #eee;
      border-radius: 4px;
      padding: 4px;
      img {
        border-radius: 5px;
      }
    }
    .full-width {
      border: 1px solid #ccc;
      img {
        width: 100%;
      }
    }
    figcaption {
      font-size: 14px;
      color: #888;
      text-align: center;
      border-top: 1px solid #ccc;
      margin-top: 5px;
    }
  }

  &.post {
    .post-body, .post-preview {
      font-size: 17px;
    }
  }
}

.feature {
  height: 230px;
}

.post-meta {
  color: #666;
  margin-bottom: 10px;
  span {
    margin-right: 12px;
  }
  span:before {
    margin-right: 6px;
  }
}

.post-link {
  color: $main-colour;
}

section#footer {
  position: absolute;
  bottom: 0;
  min-height: $footer-height;
  padding-top: 25px;
  width: 100%;
  .social-media-link {
    text-align: center;
  }
  .links {
    li {
      list-style-type: none;
    }
  }
  .links, .copyright {
    margin-top: 10px;
  }
  .copyright {
    img {
      height: 80px;
    }
    span {
      height: 80px;
      line-height: 80px;
    }
  }
  .mix {
    position: absolute;
    bottom: 5px;
  }
}

address {
  margin-bottom: 0;
}

.map-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  #company-map {
    width: 100%;
    height: 300px;
  }
}

.testimonial {
  width: 80%;
  padding-top: 40px;
  .quote {
    font-style: italic;
    text-align: center;
  }
  h3 {
    margin-bottom: 20px;
  }
  iframe {
    width: 560px;
    height: 315px;
  }
}

section.team {
  .team-photo {
    text-align: center;
    h3 {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  p {
    font-size: 17px;
  }
}

.thumbnail > img {
  max-height: 400px;
}

section#stripe-details {
  .flag {
    background-size: 75%;
  }
  margin: 0 auto;
  padding-top: 40px;
}

section#pricing-table {
  .panel {
    text-align: center;
  }

  .panel-default {
      color: #777;
  }

  .panel-primary {
    border-color: $main-colour;
    >.panel-heading {
      background-color: $main-colour;
      border-color: $main-colour;
    }
  }

  .list-group-item {
    height: 33px;
    font-size: 13px;
    padding: 6px 0 6px;
  }
  padding-bottom: 50px;
}

.correct {
  background-color: #89E894;
}

.incorrect {
  background-color: #FF6961;
}

a:hover {
  text-decoration: none;
}

.short-delay {
  animation-delay: 0.3s;
}

.long-delay {
  animation-delay: 0.7s;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: -50px;
  margin-bottom: -10px;
}

.container {
  max-width: 1000px;
}

.wrapper img {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 80px rgba(52, 60, 69, 5);
}

@media (max-width: 767px) {
  .wrapper {
    padding-top: 65px;
  }
}
