---
layout: page
title: Features - TutorCruncher
description: Tutoring management software features including card payments, CRM, invoicing, payroll, scheduling, timesheets, Tax calculations, data reporting, multi language and more.
redirect_from:
  - /features/mobile-app/
  - /features/parent-pupil-profiles-management/
  - /features/vat-margin-paperwork/
  - /tutorials/

permalink: /features/
---
<div class="row">
  <div class="col-lg-12 text-center top-margin-40 animated fadeIn short-delay">
    <h1 class="section-heading">Features</h1>
    <hr class="primary">
    <h4 class="caption-spacing">
      Click on an icon to learn more
    </h4>
  </div>
</div>

<div class="row animated fadeIn short-delay">
  {% for feature in site.data.features %}
    {% include mixins/feature_block.html feature=feature %}
  {% endfor %}
</div>

<div class="row">
  <div class="col-lg-12 text-center animated fadeIn short-delay">
    <hr class="primary">
    <h3 class="text-spacing">
      We do so much more than this, get in touch to learn how TutorCruncher can transform your business.
    </h3>
    <a href="/contact/" class="btn btn-primary btn-xl">Contact us</a>
  </div>
</div>
