---
layout: base
title: Contact - TimeCruncher
short-title: Get in contact
description: Contact the team for support, to ask questions, or for more help or information.
permalink: /contact/
---
<div id="contact-us" class="container-fluid">
  <article>
    <header class="animated fadeIn short-delay">
      <h1 class="text-center header-spacing">{{ page.short-title }}</h1>
      <hr>
    </header>
  </article>
  <div class="container top-padding-30">
    {% for location in site.data.locations %}
      <div class="row padding-bottom-20">
        <div class="address col-xs-6 col-md-6">
          <strong><p>{{ location.name }}</p></strong>
          {% for line in location.address %}
            <p>{{ line }}</p>
          {% endfor %}
          <br>
          <p>{{ location.phone }}</p>
        </div>
        <div class="col-md-6 col-xs-6">
          <div id="{{ location.map }}" class="map"></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <hr>
  <div align="center" class="animated fadeIn long-delay top-padding-30 enquiry-form">
    <iframe src="https://secure.tutorcruncher.com/meta/enquiry/?iframe=1"></iframe>
  </div>
</div>
<script src="{{ site.static }}/js/location.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFj_-9-kXPTryJ4KHeAHtDnf8M7eBPy0A&callback=init_map"></script>
