---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.static }}/css/rangeslider.css" type="text/css">
    <link rel="stylesheet" href="{{ site.static }}/css/index-v1.css" type="text/css">
  </head>
  <body id="page-top">
    {% include ga.html %}
    {% include nav.html %}
    {% include front/header.html %}
    {% include front/industries.html %}
    {% include front/pricing_calc.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.1.1/rangeslider.js"></script>
    <script>
      var payg = {{ site.data.tiers[0] | jsonify }};
      var startup = {{ site.data.tiers[1] | jsonify }};
      var base_price_us = {{ site.data.international_pricing.us.base_price | jsonify }};
    </script>
    <script src="{{ site.static }}/js/price_calculator_new.js"></script>
    {% include footer.html %}
  </body>
</html>
