<section id="footer" class="bg-primary top-margin-40">
  <div class="container">
    <div class="row">
      <div class="col-md-6 social-media-link col-md-push-3">
        <div class="row">
          <div class="col-xs-3">
            <a target="_blank" href="https://twitter.com/TutorCruncher">
              <i class="fa fa-2x fa-twitter"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a target="_blank" href="https://www.facebook.com/TutorCruncher">
              <i class="fa fa-2x fa-facebook"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a target="_blank" href="https://www.linkedin.com/company/tutorcruncher">
              <i class="fa fa-2x fa-linkedin"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a target="_blank" href="https://github.com/tutorcruncher">
              <i class="fa fa-2x fa-github"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-md-push-3 col-sm-6 col-sm-push-6 links text-right">
        <ul>
        <li>
          <a href="{% if page.url == '/index.html' %}#page-top{% else %}/{% endif %}" class="page-scroll">Home</a>
        </li>
        <li>
          <a href="/features/">Features</a>
        </li>
        <li>
          <a href="/testimonials/">Testimonials</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/pricing/">Pricing</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/terms/">Terms and Conditions</a>
        </li>
        <li>
          <a class="hidden-md hidden-xs hidden-sm" href="https://mixpanel.com/f/partner" rel="nofollow">
            <img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
          </a>
        </li>
        </ul>
      </div>

      <div class="col-md-3 col-md-pull-9 col-sm-6 col-sm-pull-6 copyright hidden-xs">
        <img src="/img/tc_logo_small.jpg" class="pull-left"/>
        <span class="pull-left">
          &copy; TutorCruncher 2015
        </span>
        <p class="pull-left">
          8A Lower Grosvenor Place<br>
          London<br>
          SW1W 0EN<br>
          <a href="tel:00442071128953">+44 (0) 207 1128 953</a>
        </p>

      </div>
    </div>
  </div>
</section>
