<nav class="navbar navbar-inverse navbar-fixed-top affix-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="{% if page.url == '/index.html' %}#page-top{% else %}/{% endif %}" class="navbar-brand page-scroll">
      <img src="/img/tc_logo_tiny.png" class="pull-left"/>
      TutorCruncher
    </a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/pricing/">Pricing</a></li>
      <li{% if page.path == 'features.html' %} class="active"{% endif %}>
        <a href="/features">Features</a>
      </li>
      <li{% if page.path == 'blogs.html' or page.path == 'archive.html' or page.path contains '_posts/' %} class="active"{% endif %}>
        <a href="/tutoring-blogs/">Blog</a>
      </li>
      <li{% if page.path == 'companies.html' or page.path contains 'companies/' %} class="active"{% endif %}>
        <a href="/companies">Tutoring Directory</a>
      </li>
      <li>
        <a href="http://help.tutorcruncher.com/" target="_blank">Help</a>
      </li>
      <li>
        <a href="/#contact" class="page-scroll">Contact</a>
      </li>
      <li>
        <a href="https://secure.tutorcruncher.com/" class="page-scroll">Log in</a>
      </li>
    </ul>
  </div>
</nav>