<section id="pricing">
  <div class="container">
    <div class="text-center">
      <h1>Pricing</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Free</h3>
          </div>
          <div class="panel-body">
            Free
          </div>
          <ul class="list-group">
            <li class="list-group-item">Up to 10 active students</li>
            <li class="list-group-item">Online Card Payments**</li>
            <li class="list-group-item">Unlimited students</li>
            <li class="list-group-item">Unlimited clients</li>
            <li class="list-group-item">Unlimited tutors</li>
            <li class="list-group-item">Unlimited resources upload</li>
            <li class="list-group-item">Email Marketing</li>
            {% for i in (1..18) %}
              <li class="list-group-item"></li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- /col -->

      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Basic</h3>
          </div>
          <div class="panel-body">
            £35/$50 per month
          </div>
          <ul class="list-group">
            <li class="list-group-item">£0.65/$1 per active student per month*</li>
            <li class="list-group-item">Online Card Payments**</li>
            <li class="list-group-item">Unlimited students</li>
            <li class="list-group-item">Unlimited clients</li>
            <li class="list-group-item">Unlimited tutors</li>
            <li class="list-group-item">Unlimited resources upload</li>
            <li class="list-group-item">Email marketing</li>
            <li class="list-group-item">Send emails from your own address</li>
            <li class="list-group-item">Customisable automated emails</li>
            <li class="list-group-item">TutorCruncher mobile app</li>
            <li class="list-group-item">Add your own logo to PDFs</li>
            <li class="list-group-item">Send 1,000 emails per month***</li>
            <li class="list-group-item">One month's free phone support *****</li>
            {% for i in (1..12) %}
              <li class="list-group-item"></li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- /col -->

      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Premium</h3>
          </div>
          <div class="panel-body">
            £99/$155 per month
          </div>
          <ul class="list-group">
            <li class="list-group-item">£1/$1.56 per active student per month*</li>
            <li class="list-group-item">Online Card Payments**</li>
            <li class="list-group-item">Unlimited students</li>
            <li class="list-group-item">Unlimited clients</li>
            <li class="list-group-item">Unlimited tutors</li>
            <li class="list-group-item">Unlimited resources upload</li>
            <li class="list-group-item">Email Marketing</li>
            <li class="list-group-item">Send emails from your own address</li>
            <li class="list-group-item">Customisable automated emails</li>
            <li class="list-group-item">TutorCruncher mobile app</li>
            <li class="list-group-item">Add your own logo to PDFs</li>
            <li class="list-group-item">Send 5,000 emails per month***</li>
            <li class="list-group-item">Add your own logo to your system</li>
            <li class="list-group-item">Manage Multiple Branches ****</li>
            <li class="list-group-item">Edit HTML email templates</li>
            <li class="list-group-item">New feature request priority</li>
            <li class="list-group-item">Personal Account Manager</li>
            <li class="list-group-item">One month's free phone support *****</li>
            {% for i in (1..7) %}
              <li class="list-group-item"></li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- /col -->

      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Enterprise</h3>
          </div>
          <div class="panel-body">
            £500/$770 per month
          </div>
          <ul class="list-group">
            <li class="list-group-item">£1/$1.56 per active student per month*</li>
            <li class="list-group-item">Online Card Payments**</li>
            <li class="list-group-item">Unlimited students</li>
            <li class="list-group-item">Unlimited clients</li>
            <li class="list-group-item">Unlimited tutors</li>
            <li class="list-group-item">Unlimited resources upload</li>
            <li class="list-group-item">Email marketing</li>
            <li class="list-group-item">Send emails from your own address</li>
            <li class="list-group-item">Customisable automated emails</li>
            <li class="list-group-item">TutorCruncher mobile app</li>
            <li class="list-group-item">Add your own logo to your system</li>
            <li class="list-group-item">Add your own logo to PDFs</li>
            <li class="list-group-item">Send Unlimited Emails ***</li>
            <li class="list-group-item">Manage Multiple Branches ****</li>
            <li class="list-group-item">Edit HTML email templates</li>
            <li class="list-group-item">New feature request priority</li>
            <li class="list-group-item">Personal Account Manager</li>
            <li class="list-group-item">Free support</li>
            <li class="list-group-item">Custom PDF templates</li>
            <li class="list-group-item">API Access</li>
            <li class="list-group-item">Custom URL</li>
            <li class="list-group-item">Customised branding CSS</li>
            <li class="list-group-item">Legacy system support</li>
            <li class="list-group-item">Your Own Company Branded Mobile App</li>
            <li class="list-group-item">Option to host on own server</li>
          </ul>
        </div>
      </div><!-- /col -->
      <div class="text-center">
        <p class="text-muted">Prices exclude UK VAT</p>
        <p class="text-muted">* An active student is any student that receives a lesson or charge in a given month</p>
        <p class="text-muted">** See stripe.com for fees</p>
        <p class="text-muted">*** £5 per 1,000 emails outside allowance</p>
        <p class="text-muted">**** First additional branch free, then £40 per branch after that</p>
        <p class="text-muted">***** £30 per month optional extra after the first month</p>
        <p class="text-muted">Discounts available for high volume users</p>
      </div>

    </div><!-- /row -->
  </div>
</section>
