<section id="pricing-calc">
  <div class="container">
    <h2 class="text-center">Savings Calculator</h2>
    <p class="text-center">
      Savings are based on data from companies currently using one of our paying packages.
    </p>
    <hr>
    <div class="row padding-bottom-20">
      <div class="col-md-3 slider-label">
        <p>Number of active clients</p>
        <p class="text-muted">How many clients do you work with per month?</p>
      </div>
      <div class="col-md-6">
        <input id="num-students" max="250" value="40" type="range"/>
      </div>
      <div class="col-md-3 pull-left">
        <span class="font-24" id="num-students-val"></span>
      </div>
    </div>
    <div class="row padding-bottom-20">
      <div class="col-md-3 slider-label">
        <p>How much is your time worth?</p>
        <p class="text-muted">Or how much does it cost for one of your admins?</p></div>
      <div class="col-md-6">
        <input id="hourly-rate" max="50" value="20" type="range"/>
      </div>
      <div class="col-md-3 pull-left">
        <span class="font-24" id="hourly-rate-val"></span> per hour
      </div>
    </div>
    <div class="row padding-bottom-20">
      <div class="col-md-3 slider-label">
        <p>What is your monthly revenue?</p>
        <p class="text-muted"></p></div>
      <div class="col-md-6">
        <input id="revenue" max="30000" value="2000" step="100" type="range"/>
      </div>
      <div class="col-md-3 pull-left">
        <span class="font-24" id="revenue-val"></span> per month
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6 col-md-push-3">
        <span class="font-24" id="time-saved"></span>
        <p>of administration saved per month</p>
      </div>
    </div>

    <div class="row text-center padding-bottom-20">
      <div class="col-md-6 col-md-push-3">
        <div id="price-calculation">
          <div>
            <span class="font-24" id="admin-money-saved"></span>
            <p class="saving-detail">saved in administration per month</p>
          </div>
          <div><p class="font-24">&ndash;</p></div>
          <div>
            <span class="font-24" id="tc-price"></span>
            <p class="saving-detail">per month for TimeCruncher</p>
          </div>
          <div><p class="font-24">=</p></div>
          <div>
            <span class="font-24" id="final-price"></span>
            <p class="saving-detail"><strong>total savings per month</strong></p>
          </div>
        </div>
        <div id="contact-us-message">
          <a class="font-24" href="/contact/">Contact us to discuss pricing</a>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6 col-md-push-3">
        <span class="font-24" id="tier"></span>
        <p>is the tier that would be cheapest for you</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="primary">
        <h4 class="caption-spacing">
          Learn more on our pricing page.
        </h4>
        <a href="/pricing/" class="btn btn-primary btn-xl page-scroll">Pricing Details</a>
      </div>
    </div>
  </div>
</section>