<section id="signup" class="bg-primary text-center" data-top-adjust="40">
  <div class="container">
    <div class="row margin-bottom-25">
      <div class="text-center">
        <h2>Begin using TimeCruncher right now</h2>
        <hr class="light">
        <p class="padding-bottom-10">
          Start using the free tier of TimeCruncher to manage your business today, then get in touch to arrange a full
          demo of the system. You can upgrade your account as your company grows to take advantage of all of the
          features of TimeCruncher.
        </p>
        <p><a href="https://secure.tutorcruncher.com/start/2/" class="btn btn-default btn-xl page-scroll animated fadeIn long-delay">Sign up now</a></p>
        <p><a href="/contact/" class="btn btn-default btn-xl page-scroll hidden-xs animated fadeIn long-delay">Request a demo</a></p>
      </div>
    </div>
  </div>
</section>
