<div class="col-md-4 col-sm-4">
  <div class="panel panel-{% if tier.highlight %}primary{% else %}default{% endif %}">
    <div class="panel-heading">
      <h3 class="panel-title font-16">{{ include.tier.name }}</h3>
    </div>
    <div class="panel-body font-16">
      <strong>
        {% if include.tier.name == 'Enterprise' %}
          {{ include.price.amount }}
        {% else %}
          {{ include.price.currency }}{{ include.price.amount }} per month
        {% endif %}
      </strong>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>
          {{ include.price.currency }}{{ include.price.amount_pas }} per taught student<sup><a href="/pricing/#extras">[1]</a></sup>
        </strong>
      </li>
      {% for i in (0..50) %}
        {% if i < include.tier.features.size %}
          <li class="list-group-item">{{ include.tier.features[i] }}</li>
        {% elsif i < site.data.pricing[2].features.size %}
          <li class="list-group-item hidden-xs"></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
