<table class="table table-striped">
  <thead>
    <tr>
      <th>Flag</th>
      <th>Country</th>
      <th>Free Tier Rate</th>
      <th>Basic Tier Rate</th>
      <th>Premium Tier Rate</th>
      <th>Enterprise Tier Rate</th>
    </tr>
  </thead>
  <tbody>
    {% for country in site.data.stripe_details %}
      <tr>
        <td class="flag flag-icon-background flag-icon-{{ country.flag }}"></span></td>
        <td>{{ country.country }}</td>
        {% for tier_rate in site.data.stripe_tiers %}
          <td>{{ tier_rate.rate | plus: country.base_rate }}% {% if country.per_transaction_fee %} + {{ country.per_transaction_fee }}{% endif %}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
