---
---

@import 'shared';

html, body {
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background: url('/img/header.jpg') center;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  overflow: hidden;
  p {
    margin-bottom: 30px;
  }
  @media (min-width: 768px) {
    header h1 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 15px;
      font-size: 26px;
    }
    .header-content {
      width: 100%;
      @media (max-width: 767px) {
        margin-top: 80px;
      }
      @media (min-width: 768px) {
        top: 30%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-30%);
        padding: 0 50px 20px 50px;
        margin-top: 150px;
        .header-content-inner {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .header-content {
      margin-top: 80px;
      h1 {
        font-size: 26px;
      }
    }
  }
}

section#signup {
  padding-bottom: 10px;
  @media (min-width: 768px) {
    padding: 20px;
  }
}

section#video {
  padding-top: 15px;
  padding-bottom: 20px;
  @media (min-width: 992px) {
    .video-js {
      background-color: white;
      .vjs-control-bar {
        width: 50%;
        margin: auto;
      }
    }
  }
}

section#contact, section#pricing {
  .top-pad h2 {
    padding-top: 60px;
  }
  a:hover {
    text-decoration: none;
  }
  .price {
    padding: 0;
    margin: 0;
    display: inline-block;
    sup {
      font-size: 50%;
      top: -0.7em;
      margin-right: 5px;
    }
    &.smaller {
      font-size: 30px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
}

.font-36 {
  font-size: 36px;
}

section#pricing {
  div.col-sm-3 {
    p {
      margin-top: 10px;
    }
  }
}

section#team {
  >.carousel {
    @include background-cover;
    background: url('/static/img/team_back.jpg') center;
  }
  h1 {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .carousel {
    margin-bottom: 20px;
  }
  .carousel-inner {
    img {
      width: 120px;
      margin-left: auto;
      margin-right: auto;
    }
    .item {
      height: 290px;
    }
  }
    .carousel-caption {
      left: 15%;
      right: 15%;
    }
  @media (max-width: 768px) {
    .carousel-caption {
      right: 0;
      left: 0;
      h3 {
        font-size: 20px;
      }
    }
  }
}

section#footer {
  position: relative;
}

#map {
  width:100%;
  height:400px;
}

.rangeslider--horizontal {
  height: 30px;
  border-radius: 3px;
  width: 100%;

  .rangeslider__handle {
    top: -5px;
    border-radius: 2px;
    width: 10px;
    &:after {
      background: 0;
    }
  }

  .rangeslider__fill {
    border-radius: 3px;
    height: 30px;
    background-color: $main-colour;
  }
}

.slider-label {
  p {
    margin-bottom: 0;
  }

  .text-muted {
    font-size: smaller;
  }
}

#price-calculation {
  div {
    float:left;
    width: 20%;
    .saving-detail {
      font-size: smaller;
    }
  }
}