---
---

@import 'shared';

html, body {
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  background: $main-colour center;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  overflow: hidden;
  height: 550px;

  .btn-default {
    font-size: 14px;
  }

  p {
    margin-bottom: 30px;
  }
  .header-content {
    margin-top: 150px;
  }
  @media (min-width: 768px) {
    header h1 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 15px;
      font-size: 26px;
    }
    .container {
      @media (min-width: 991px) {
        margin-left: 100px;
        width: 100%;
        max-width: 100%;
      }
    }
    .header-content {
      width: 100%;
      @media (max-width: 767px) {
        h1 {
          font-size: 26px;
        }
      }
      @media (min-width: 768px) {
        padding: 0 50px 20px 50px;
        .header-content-inner {
          margin-left: auto;
          margin-right: auto;
          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  .carousel-inner img {
    border-top-left-radius: 6px;
  }
}

section#signup {
  padding-bottom: 10px;
  @media (min-width: 768px) {
    padding: 20px;
  }
}

section#video {
  padding-top: 15px;
  padding-bottom: 20px;
  @media (min-width: 992px) {
    .video-js {
      background-color: white;
      .vjs-control-bar {
        width: 50%;
        margin: auto;
      }
    }
  }
}

section#contact, section#pricing {
  .top-pad h2 {
    padding-top: 60px;
  }
  a:hover {
    text-decoration: none;
  }
  .price {
    padding: 0;
    margin: 0;
    display: inline-block;
    sup {
      font-size: 50%;
      top: -0.7em;
      margin-right: 5px;
    }
    &.smaller {
      font-size: 30px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
}

.font-36 {
  font-size: 36px;
}

section#pricing {
  div.col-sm-3 {
    p {
      margin-top: 10px;
    }
  }
}

section#footer {
  position: relative;
}

#map {
  width:100%;
  height:400px;
}
section#industries {
  .industry-block {
    @media (min-width: 768px) {
      padding: 40px 100px 40px 100px;
    }

    line-height: 1.5;
  }

  .background-grey {
    background-color: #e6f8ff;
  }

  .full-size {
    font-size: 180px;
  }

  .borderless {
    border: none !important;
  }

  .industry-feature {
    display: flex;
    max-width: 600px;

    .feature-desc {
      padding-left: 20px;
    }
  }
}

section#pricing-calc {
  padding-bottom: 40px;

  .rangeslider--horizontal {
    height: 30px;
    border-radius: 3px;
    width: 100%;

    .rangeslider__handle {
      top: -5px;
      border-radius: 2px;
      width: 10px;
      &:after {
        background: 0;
      }
    }

    .rangeslider__fill {
      border-radius: 3px;
      height: 30px;
      background-color: white;
    }
  }

  .slider-label {
    p {
      font-size: larger;
      margin-bottom: 0;
    }

    .text-muted-light {
      font-size: smaller;
      color: white;
    }
  }

  #price-calculation {
    div {
      float: left;
      width: 20%;
      .saving-detail {
        font-size: smaller;
      }
    }
  }
}
