<section id="contact">
  <div class="text-center top-padding-20">
    <h2 class="top-pad">Contact Us</h2>
    <hr class="primary">
  </div>
  <div>
    <div id="map"></div>
  </div>
  <div class="container text-center">
    <div class="row">
      <hr>
      <h4 class="caption-spacing">
        Contact TutorCruncher to arrange a free demo, or to find out more information.
      </h4>
      <a href="/contact/" class="btn btn-primary btn-xl">Contact TutorCruncher</a>
    </div>
  </div>
</section>
<script src="/js/theme.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWaPGLG--T9LU2sWVkz_8l3YqudOHn8iQ&callback=init_map"></script>
