<header>
  <div class="container">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 class="animated fadeIn short-delay">TutorCruncher</h1>
          <hr class="light animated fadeIn short-delay">
          <p class="animated fadeIn long-delay">TutorCruncher is a tutoring business management software tool with timesheets, invoicing, payroll, scheduling and management applications.</p>

          <p><a href="https://secure.tutorcruncher.com/start/1/" class="btn btn-primary btn-xl page-scroll animated pulse fadeIn long-delay">Sign up now</a></p>
        </div>
      </div>
      <div class="wrapper">
         <img class="img-responsive center-block animated fadeInUp long-delay" src="img/screenshot2.png" alt="Screenshot">
      </div>
  </div>
</header>
