<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>{{ site.title }}</h1>
      <hr class="light">
      <p>{{ site.description }}</p>
      {% comment %}
      <p><a href="#highlights" class="btn btn-primary btn-xl page-scroll hidden-xs">Learn More</a></p>
      {% endcomment %}
      <p><a href="https://secure.tutorcruncher.com/start/1/" class="btn btn-primary btn-xl page-scroll hidden-xs">Sign up now</a></p>
      <p><a href="https://secure.tutorcruncher.com/meta/enquiry/" class="btn btn-primary btn-xl page-scroll hidden-xs">Request a demo</a></p>
    </div>
  </div>
</header>
