<header>
  <div class="container">
    <div class="header-content">
      <div class="header-content-inner animated fadeIn short-delay">
        <h1>TutorCruncher</h1>
        <hr class="light">
        <p class="animated fadeIn long-delay">Tuition management software with card payments, CRM, invoicing, payroll, scheduling, timesheets and more.</p>
      </div>
    </div>
    <div class="wrapper animated fadeInUp long-delay">
      <div class="carousel slide" data-interval="3500" data-ride="carousel">
        <div class="carousel-inner">
          {% for screenshot in site.data.header_carousel %}
            <div class="item {% if forloop.index == 1 %}active{% endif %}">
              <div class="toolbar">
                <div class="circle-wrap">
                  <span class="red"></span>
                  <span class="yellow"></span>
                  <span class="green"></span>
                </div>
              </div>
              <img src="{{ site.static }}/{{ screenshot.img }}" alt="{{ screenshot.name }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</header>
