<section id="pricing">
  <div class="container">
    <div class="text-center">
      <h2>Pricing</h2>
      <p>All tiers include a 14 day free trial</p>
      <hr class="primary">
    </div>
    <div class="row">

      {% for tier in site.data.pricing %}
        {% include mixins/price_column.html tier=tier  %}
      {% endfor %}

      <div class="text-center">
        <p class="text-muted"><sup>[1]</sup> An active student is any student that receives a lesson or charge in a given month</p>
        <p class="text-muted"><sup>[2]</sup> See stripe.com for fees</p>
        <p class="text-muted"><sup>[3]</sup> £5 per 1,000 emails outside allowance</p>
        <p class="text-muted"><sup>[4]</sup> First additional branch free, then £40 per branch after that</p>
        <p class="text-muted"><sup>[5]</sup> £30 per month optional extra after the first month</p>
        <p class="text-muted">Prices exclude UK VAT</p>
        <p class="text-muted">Discounts available for high volume users</p>
      </div>
    </div>
  </div>
</section>
