<section id="signup" class="bg-primary text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Begin using TutorCruncher right now</h2>
        <hr class="light">
        <p>
          Start using the free tier of TutorCruncher to manage you business today, then get in touch to arrange a full
          demo of the system. You can upgrade your account as your company grows to take advantage of all of the
          features of TutorCruncher.
        </p>
        <a href="https://secure.tutorcruncher.com/start/1/" class="btn btn-default btn-xl">Sign up for free</a>
      </div>
    </div>
  </div>
</section>
