<!--<section id="video" class="text-center bg-primary">-->
  <!--<iframe width="700" height="394" src="https://www.youtube.com/embed/N_pqQ5AGtag?vq=hd1080" frameborder="0" allowfullscreen></iframe>-->
<!--</section>-->

<section id="video" class="text-center top-margin-40">
  <h3 class="sr-only">Video</h3>
  <video id="demo_video" class="video-js vjs-default-skin vjs-big-play-centered" controls poster="/img/video_placeholder.png" data-setup='{}'>
    <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
    <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'>
  </video>
</section>
