---
layout: base
---
<div class="container main post narrow">
  <section class="team">
    <h2>The Team</h2>

    {% for person in site.data.team %}
      <div class="row">
        <div class="col-md-4 team-photo {% cycle '', 'col-md-push-8' %}">
          <img src="{{ site.static }}/{{ person.img }}" alt="{{ person.name }}">
          <div>
            <h3>{{ person.name }},<br>{{ person.title }}</h3>
          </div>
        </div>
        <div class="col-md-8 {% cycle '', 'col-md-pull-4' %}">
          <div>
            {{ person.extended_bio }}
          </div>
        </div>
      </div>
      {% if forloop.last == false %}
        <hr>
      {% endif %}
    {% endfor %}

  </section>
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <div class="post-body">
      {{ content }}
    </div>
  </article>

</div>
