---
layout: base
---
<div class="container main">
  <article>
    <header>
      <h1 class="text-center">{{ page.short_title }}</h1>
    </header>
    <div class="row top-padding-20">
      {% for feature in site.data.pricing_features %}
        {% include mixins/feature_block.html feature=feature %}
      {% endfor %}
    </div>
  </article>

  <div class="row text-center">
    <a href="/#pricing-calc" class="btn btn-primary btn-xl page-scroll">Pricing Calculator</a>
    <h4>Find out which tier would be right for you by going to our pricing calculator.</h4>
  </div>
  <hr class="primary">

  <section id="pricing-table" class="top-padding-30">
    {{ content }}
  </section>

  <section id="extras" class="top-padding-30">
    <div class="text-center">
      <p class="text-muted">Prices exclude UK VAT.</p>
      <p class="text-muted"><sup>[1] </sup>Fair usage policy applies.</p>
      <p class="text-muted"><sup>[2] </sup>Further training is charged at $40 per hour.</p>
      <p class="text-muted"><sup>[3] </sup>
        Fee are separate from transaction or handler fee applied by payment gateways such as
        <a href="https://stripe.com/pricing">Stripe</a> and <a href="https://gocardless.com/pricing/">GoCardless</a>.
        See our <a href="/terms/#fee-calculations"> terms and conditions</a> for details.
      </p>
      <p class="text-muted"><sup>[4]</sup>Emails to support@tutorcruncher.com will be answered within 3 business days.</p>
    </div>
    <hr>
  </section>

  <div class="row text-center">
    <p><a href="https://secure.tutorcruncher.com/start/2/" class="btn btn-primary btn-xl">Get started now</a></p>
  </div>
</div>
