---
layout: base
---
<div class="container main">
  <article>
    <header>
      <h1 class="text-center">{{ page.short_title }}</h1>
    </header>
    <div class="row top-padding-20">
      {% for feature in site.data.pricing_features %}
        {% include mixins/feature_block.html feature=feature %}
      {% endfor %}
    </div>
  </article>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <a href="https://secure.tutorcruncher.com/start/1/" class="btn btn-primary btn-xl">Sign up now for free</a>
    </div>
  </div>
  <hr class="primary">
  <h4 class="text-center">Every tier comes with a 14 day free trial!</h4>

  <section id="pricing-table" class="top-padding-30">
    {{ content }}
  </section>

  <section id="extras" class="top-padding-30">
    <div class="text-center">
      <p class="text-muted">Prices exclude UK VAT.</p>
      <p class="text-muted"><sup>[1] </sup>Fair usage policy applies.</p>
      <p class="text-muted"><sup>[2] </sup>Further training is charged at $40 per hour.</p>
      <p class="text-muted"><sup>[3] </sup>
        Fee are separate from transaction or handler fee applied by payment gateways such as
        <a href="https://stripe.com/pricing">Stripe</a> and <a href="https://gocardless.com/pricing/">GoCardless</a>.
        See our <a href="/terms/#fee-calculations"> terms and conditions</a> for details.
      </p>
    </div>
    <hr>
  </section>
  <div class="row text-center">
    <p>Find out which tier would be right for you by going to our pricing calculator.</p>
    <a href="/#pricing-calc" class="btn btn-primary btn-xl page-scroll">Pricing Calculator</a>
  </div>
</div>
