---
layout: base
---
<div class="container main post narrow">
<h1>
  {{ page.short_title }}
</h1>
<aside class="text-muted">
  <i>{{ page.description }}</i>
  <p class="rss-subscribe">Subscribe <a href="{{ '/feed.xml' }}">via RSS</a></p>
</aside>
<div>
  {% for post in site.posts limit: page.limit %}
    <div>
      <h2 class="font-24">
        <a class="post-link" href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>

      <div class="post-meta">
        <span class="fa fa-calendar">
          <time datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%b %-d, %Y" }}
          </time>
        </span>
        {% if post.author %}
        <span class="fa fa-user">{{ post.author }}</span>
        {% endif %}
        {% if post.tags %}
        <span class="fa fa-tag">{{ post.tags | join: ', ' }}</span>
        {% endif %}
      </div>

      <div class="post-preview">
        {{ post.excerpt | strip_html | strip_newlines | truncate: 300 }}
      </div>
    </div>
    <hr/>
  {% endfor %}
</div>
{{ content }}
</div>
