---
layout: base
---
<div class="container main post narrow">
  <div id="fb-root"></div>
  <article itemscope itemtype="http://schema.org/Article">
    <header>
      <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>

      <div class="post-meta">
        <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}"/>
        <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}"/>
        <meta itemprop="name" content="{{ page.title }}"/>
        <link itemprop="mainEntityOfPage" href="{{ page.permalink }}">
        <span class="fa fa-calendar">
          <time>
            {{ page.date | date: "%b %-d, %Y" }}
          </time>
        {% if page.author %}
        <span class="fa fa-user" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
          {{ page.author }}
        </span>
        {% endif %}
        {% if page.tags %}
        <span class="fa fa-tag" itemprop="description">{{ page.tags | join: ', ' }}</span>
        {% endif %}
        <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
          <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <a itemprop="url" href="{{ site.static }}/img/tc_logo_small.jpg/"></a>
          </div>
          <p itemprop="name">TutorCruncher</p>
        </span>
      </div>

    </header>
    <div class="post-body" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
  <div class="fb-comments" data-href="https://tutorcruncher.com" data-width="500" data-numposts="5"></div>
</div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1643426365974188',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1643426365974188";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
