---
layout: page
title: TutorCruncher Features
redirect_from:
  - /features/mobile-app/
  - /features/parent-pupil-profiles-management/
  - /features/vat-margin-paperwork/
  - /tutorials/
permalink: /features/
---
<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">Features</h2>
    <hr class="primary">
    <h4>
      Click on an icon to learn more
    </h4>
  </div>
</div>

<div class="row">
  {% for feature in site.data.features %}
    {% include mixins/feature_block.html feature=feature %}
  {% endfor %}
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <hr class="primary">
    <h2>
      We do so much more than this, get in touch to learn how TutorCruncher can transform your business.
    </h2>
    <a href="/#contact" class="btn btn-primary btn-xl">Contact us</a>
  </div>
</div>
