---
layout: base
---

  <link rel="stylesheet" href="/libs/css/video-js.min.css" type="text/css">
  <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>

<body id="page-top">
  {% include nav.html %}

  {% include front/header.html %}
  {% include front/signup.html %}
  {% include front/features.html %}
  {% include front/video.html %}
  {% include front/pricing.html %}
  {% include front/team.html %}
  {% include front/contact.html %}

  {% include footer.html %}
  <script src="/libs/js/video.min.js"></script>
</body>
