---
layout: base
---
<div class="container main post narrow">
  <article itemscope itemtype="http://schema.org/Article">
    <header>
      <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>

      <div class="post-meta">
        <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}"/>
        <span class="fa fa-calendar">
          <time>
            {{ page.date | date: "%b %-d, %Y" }}
          </time>
        </span>
        {% if page.author %}
        <span class="fa fa-user" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
          {{ page.author }}
        </span>
        {% endif %}
        {% if page.tags %}
        <span class="fa fa-tag" itemprop="description">{{ page.tags | join: ', ' }}</span>
        {% endif %}
      </div>

    </header>
    <div class="post-body" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</div>
